<div class="table-responsive">
	<table class="table">
		<thead>
			<tr>
				<th>Link Title</th>
				<th>Clicks</th>
				<th>Edit</th>
				<th>Delete</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="link in links">
				<td>
					<span ng-hide="EditingLink">{{link.title}}</span>
					<input ng-model="link.title" ng-show="EditingLink"></input>
					<button ng-click="edit(link)"ng-show="EditingLink">Save</button>
				</td>
				<td>{{link.num_clicks}}</td>
				<td>
					<button ng-click="EditingLink = ! EditingLink">Edit</button>
				</td>
				<td>
					<button ng-click="delete(link.id)">Delete</button>
				</td>
			</tr>
		</tbody>
	</table>
</div>




